
.hero-head {
    background-color: #151e3f;
    color: #d3d0cb;
}

.hero-foot {
    background-color: #151e3f;
    color: #d3d0cb;
}
.genreSelector{
    cursor: pointer;
}

li a:hover {
    background-color: #030027!important;
    color: #fcdd56!important;
  }  

.search-color{
    border-color: #c16e70!important;
    color: #363636;
}

.tileBackground {
    background-color: #d3d0cb ;
    opacity: 95%;
    border-radius: 20px;
}

.modal-background {
    opacity: 10%;
}

#heroPicture {
    background-image: url(audience.jpg);
    margin: 0 auto;
    background-position: center;
    background-attachment: fixed;
    width: 100%
}

#title_hp {
    color: #030027!important;
    color: #d3d0cb;
}

#ticketMaster {
    background-color: #fcdd56!important;
    color: #363636;
}

#songOTD {
    background-color: #151e3f!important;
    color: #d3d0cb;
}

#featuredArtists {
    background-color: #030027;
    color: #d3d0cb!important;
}

#title{
    text-shadow: 4px 3px #1C2735
}

.has-bg-img{ 
    background-image: url("assets/images/background-banana-blue-close-up-616839.jpg") ;


}

.tileBackground {
    background-color: #d3d0cb;
    opacity: 95%;
    border-radius: 20px;
}

.modal-background {
    opacity: 10%;
}



.picture {
    height: 300px;
    width: 500px;
    float: left;
}

.content {
    float: left;
}


