.hero-head {
    background-color: #151e3f
}

.hero-foot {
    background-color: #151e3f;
}

.search-color{
    border-color: #c16e70!important;
}

#heroPicture {
    background-image: url(audience-1853662_1920.jpg);
    margin: 0 auto;
    background-position: center;
    background-attachment: fixed;
    width: 100%
}

#title_hp {
    color: #030027!important;
}

#ticketMaster {
    background-color: #c16e70!important;

}

#songOTD {
    background-color: #151e3f!important;
}

#featuredArtists {
    background-color: #e7e7c7;
    color: #030027;
}

#grammyPredictions {
    background-color: #c16e70;
}

#trendingSong {
    background-color: #030027;
}